node_modules
npm-debug.log
yarn-error.log
vendor
.env
.env.*
.git
.gitignore
.dockerignore
docker-compose*
Dockerfile*
storage/*.key
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
*.swp
*.swo
.idea
.vscode
*.DS_Store